<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>岗位推荐</title>
</head>
<body style="background-color: #efebeb">
   <div class="head" style="text-align: center;">
       <a href="http://haiguihiring.com">
           <img src="http://haiguihiring.com/static/images/logo.png">
       </a>
   </div>
   <div class="body" style="margin: 50px;background-color:#FFFFFF">
       <div class="title" style="padding: 10px 50px">
           <h2>亲爱的“海归找工作”注册用户:</h2>
           <h4>本周最新工作</h4>
           <div style="width: 100%;height: 1px;background-color: black"></div>
       </div>
       <div class="job" style="padding: 10px 60px;">
           <div style="float: left;">

           </div>
           <div style="float: right;">sd</div>
       </div>
   </div>
</body>
</html>