<tr>
    <td width="40" style="padding:10px 0px"></td>
    <td width="15" style="padding:10px 0px">
    </td>
    <td style="padding:10px 0px"><a href="http://www.haiguihiring.com/job_detail.html?id=${job_id}"
                                    style="color:rgb(68,68,68);font-family:'Helvetica Neue',sans-serif;font-weight:500;text-decoration:none"
                                    target="_blank"><strong
            style="color:rgb(68,68,68);display:block;margin:0px 0px 4px;font-size:16px;line-height:1.2">${company_name}</strong><span
            style="font-weight:normal;color:rgb(119,119,119)">${job_title}</span></a>
    </td>
    <td width="15" style="padding:10px 0px">
    </td>
    <td style="padding:10px 0px"><span style="color:rgb(153,153,153);font-size:13px">${area}</span>
    </td>
</tr>